li{
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: rgb(147, 142, 142);
    align-items: center;
    margin-bottom: 16px;
    height:64px;
    border-radius: 4px;
    font-weight: bold;
    color: purple;
    font-size: 16px;
}
li div:nth-child(1){
    width: 20px;
    height: 20px;
    background: rgb(101, 99, 99);
    margin-left: 16px;
}
li div:nth-child(2){
    width: 200px;
    height: 40px;
    background: rgb(101, 99, 99);
}
li div:nth-child(3){
    width: 20px;
    height: 20px;
    background: rgb(101, 99, 99);
    margin-right: 8px;
    filter: grayscale(60%);
    align-self: flex-start;
    margin-top: -8px;
}